---
---

$medium-device: 768px;
$large-device: 1200px;

img {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

// if we are on a computer, make images in posts smaller
@media (min-width: $medium-device) {
  img {
    width: 300px;
  }
}

// otherwise, make images full width
@media (max-width: $medium-device) {
  img {
    width: 100%;
  }
}

.jump-to-menu {
  h1 {
    text-align: center;
  }
  p {
    margin-bottom: 5px;
  }
}
