---
---

$primary-color-orange: #FF9900;
$secondary-color-blue: #5599bb;

$medium-device: 768px;
$large-device: 1200px;

p, li {
  font-size: 1.1em;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
}

h1 {
  font-weight: 500;

  em {
    font-weight: 300;
    font-style: normal;
  }

  font-size: 2em
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
}

h3 {
  font-weight: 300 !important;
  font-size: 1.25em;
  text-decoration: underline;
}

// properties for phone screen
.container-fluid.content {
  background-color: #f8f8f8;
}

.photo {
  p {
    font-style: italic;
  }

  float: left;
  padding-right: 10px;
  padding-top: 5px;

  img, p{
    @media (min-width: $medium-device) {
      max-width: 250px;

    }

    @media (min-width: $large-device) {
      max-width: 300px;
    }
  }
}

a {
  color: $secondary-color-blue;
}
