---
layout: default
title: Projects
---

<div class = "row">
  <div class = "col-sm-8">
    {% for post in site.posts %}

        <h1><strong><a name = "{{post.title}}"></a>{{ post.title }}</strong>, {{ post.date | date: "%B %Y" }}</h1>

        <p>{{ post.content }}</p>

    {% endfor %}
  </div>
  <div class = "col-sm-4 jump-to-menu">
    <h1>Jump to</h1>
    <ul>
      {% for post in site.posts %}
          <li><a href = "#{{post.title}}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
