body
{
	background-image: url("http://www.isaaczinda.com/Home/img/Fishing.JPG");
    background-repeat: no-repeat;
    background-size:cover;
}

h1 small
{
	color: #cccccc;
}

.hover
{
	background-color: #68A1BB;
}

.Current
{
	background-color: #28415B;
}

#Content > div
{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(0, 0, 0, .35);
	border-radius: 5px;
}

footer
{
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: rgba(0, 0, 0, .45);
	border-radius: 5px;
}

#navbar > li > a
{
	color: white;
}

#navbar > li
{
	-webkit-transition:background-color .5s;
    transition:background-color .5s;
}

footer p
{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}