/*set the gutters based on the screen size*/
@media only screen and (max-width : 767px) {
	.container-fluid {
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media only screen and (min-width : 768px) {
	.container-fluid {
		margin-left: 15%;
		margin-right: 15%;
	}
}


body {
  font-family: 'Ubuntu', serif;
}



#WordDoc
{
	margin-left: 0px;
}


#welcome-title{
	margin: 0px;
	color: grey;
	text-align: center;
	font-size: 50px;
}

#name-title{
	color: #606060;
	margin: 0px;
	color: ;
	text-align: center;
	font-size: 70px;
}

.btn-primary {
	background-image: none;
	background-color: #e37222 !important;
}

/*e37222 tangerine*/
/*07889b teal*/
/*66b9bf powder*/
/*eeaa7b tan*/
/*d9d9d9 light-grey*/
/*a6a6a6 dark-grey*/

/*white navbar background*/

body {
	background-color: #ffffff;
	margin-top: 68px;
}


.Resume img
{
	margin-bottom: 10px;
}

#website-title
{
	margin-left: 5px;
}

html, body
{
	height: 100%;
}

#Content
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, .7);
	border-radius: 0px;
	padding-left: 10px;
	padding-right: 10px;
}



.page-header
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px !important;
}

.page-header > h1
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#Verbs p
{
	margin-bottom: 0px;
}

#introduction-text p
{
	margin-bottom: 0px;
}

/*this is to style blocks of code*/
pre
{
	background-color: rgba(100, 100, 100, .3);
	border-width: 0px;
	border-radius: 0px !important;
}
pre code
{
	color: #DDDDDD;
}
