#WordDoc
{
	margin-left: 0px;
}

#ImageBrand
{
	width: 50px;
	height: 50px;
}

body
{
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("http://www.isaaczinda.com/Home/img/Canyoneering.JPG");
}

.footer
{
	padding-top: 5px;
	padding-bottom: 5px;
}

h1 small
{
	color: #cccccc;
}

.Current
{
	background-color: #28415B;
}

.Resume img
{
	margin-bottom: 10px;
}

#website-title
{
	margin-left: 5px;
}

.navbar
{
	margin-bottom: 0px !important;
}

html, body
{
	height: 100%;
}

#Content
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, .7);
	border-radius: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#navbar > li > a
{
	color: white;
}

#navbar > li
{
	-webkit-transition:background-color .5s;
    transition:background-color .5s;
}


.footer 
{
	padding-left: 25px !important;

	width: 100%;
	/* Set the fixed height of the footer here */

	background-color: rgba(0, 0, 0, .7);
    vertical-align : bottom;
}

.footer p
{
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.page-header
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px !important;
}

.page-header > h1
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#Verbs p
{
	margin-bottom: 0px;
}

#navbar li:hover
{
	background-color: #68A1BB;
}

#introduction-text p
{
	margin-bottom: 0px;
}

/*this is to style blocks of code*/
pre
{
	background-color: rgba(100, 100, 100, .3);
	border-width: 0px;
	border-radius: 0px !important;
}
pre code
{
	color: #DDDDDD;
}